Masrofaty.json
{
  "name": "El Khaddam copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -16
      ],
      "id": "758bbe33-59a9-4178-b307-fc68ef3fa9fd",
      "name": "Telegram Trigger",
      "webhookId": "1fc36e05-cba3-44b8-aad9-8e5ed2b1ea9e",
      "credentials": {
        "telegramApi": {
          "id": "vVSblWVVtOnpgHOu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        256
      ],
      "id": "5f01d245-bde2-4756-b17a-d832f463343f",
      "name": "OpenRouter Chat Model",
      "retryOnFail": true,
      "credentials": {
        "openRouterApi": {
          "id": "JwoHJ2cIvD55d2eb",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Om2kwLg1ao8Exd_q-F9R2bl7k5Dsk3mXnS5xhQ2uyOM"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Om2kwLg1ao8Exd_q-F9R2bl7k5Dsk3mXnS5xhQ2uyOM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        256
      ],
      "id": "ddcaa802-dcc2-4c3d-9394-2308d58b0534",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -32
      ],
      "id": "759abd00-eb21-4123-a1a4-41d7875ccdb2",
      "name": "Send a text message",
      "webhookId": "7b357fe2-c747-48e9-b564-2b776b0875fa",
      "credentials": {
        "telegramApi": {
          "id": "vVSblWVVtOnpgHOu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are a smart Personal Finance Assistant. Your role is to help the user manage their expenses via a Google Sheet. You must understand natural language (especially Egyptian Arabic slang) and convert it into structured data or queries.\n\nCRITICAL RULE: - Always store the Item Name, Item Description, and Category in Language that the user used, exactly as the user provides or as they are known in Arabic.\n\n    Example: If the user says 'صرفت 50 جنيه بنزين', store 'بنزين' as Item Name and 'مواصلات' as Category. Do NOT translate to English.\n\nGoogle Sheet Structure:\n    Item Name: The name of the item (Store in user language).\n    Item Description: Extra details or reason (Store in user language).\n    Price: The cost (numeric value only).\n    Category: The category (Use the Arabic version from the list below).\n    Date/Time: The timestamp of the transaction.\n\nApproved Categories (Store these names in the Sheet):\n(طعام وشراب، مواصلات، سكن وفواتير، مشتريات منزلية، أدوات تقنية، تعليم وكورسات، هاردوير، خروجات وترفيه، صحة وجمال، هدايا ومناسبات، التزامات مالية، نثريات).\n\nOperational Rules:\n\n    1. When Logging a New Expense:\n        Extract the Item Name, Price, and Item Description.\n        Assign the relevant Category in Arabic from the list.\n        Use the Google Sheets Tool to append a new row. Use the current timestamp for Date/Time.\n        Confirm to the user in Egyptian Arabic.\n\n    2. When Querying Expenses:\n        Identify the time frame.\n        Fetch data using the Google Sheets Tool.\n        Sum the Price column based on the Date/Time.\n        Provide a summary in Egyptian Arabic.\n\n    3. Tone and Language:\n        Always communicate with the user in Egyptian Arabic.\n        Parse Arabic slang accurately (e.g., 'جبت'، 'دفعت'، 'فول مدمس')"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -16
      ],
      "id": "f4e1fb39-4cdc-495e-9394-c6c71e95abac",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Om2kwLg1ao8Exd_q-F9R2bl7k5Dsk3mXnS5xhQ2uyOM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Om2kwLg1ao8Exd_q-F9R2bl7k5Dsk3mXnS5xhQ2uyOM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_Name', ``, 'string') }}",
            "Item Description": "={{ $json.data['Item Description'] }}",
            "Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Date/Time": "={{ $json.data.Date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item Description",
              "displayName": "Item Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date/Time",
              "displayName": "Date/Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        256
      ],
      "id": "4df50280-0e93-47e2-93b0-03aa56dccf43",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2jApfayuf7hTqZbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        -32
      ],
      "id": "63b29a93-c9ff-43f0-83f7-577ebe736c1e",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "press 'a' to Add",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        -32
      ],
      "id": "41b3af26-dae9-4d2c-a7f9-79324b61f768",
      "name": "Send a text message2",
      "webhookId": "8aa9ba4f-5464-47ee-aca5-e44a2fa1d257",
      "credentials": {
        "telegramApi": {
          "id": "vVSblWVVtOnpgHOu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "a",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5329c78b-3ecf-4a97-9b68-512af5d2339b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "535b25af-4ed5-4443-9625-861a27763183",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -32
      ],
      "id": "7321a4a3-67a4-4702-a5d8-847be2a053b0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "دفعت ايه يا منيل؟",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Item Description",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -176
      ],
      "id": "880169c9-f7d2-450e-b271-4e35f46d5ac6",
      "name": "Send message and wait for response",
      "webhookId": "02c3ebd6-f5ad-4aae-9ca8-217a3f1bb948",
      "credentials": {
        "telegramApi": {
          "id": "vVSblWVVtOnpgHOu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0bff567-79ec-4027-891b-c5cece1647f1",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "ebr_salem",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -16
      ],
      "id": "9365bcfc-463d-420e-a4ba-ed61609e4162",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "866ce077-9508-47e6-a0df-8a77780ffa49",
              "name": "Not my user",
              "value": "This chatbot created for another client, if you need one like this contact me +201289775133",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -352
      ],
      "id": "0d9545b3-cf96-4c8f-b051-b2a0ea02684c",
      "name": "Not my user"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not my user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not my user": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a6e8ba62-0001-4017-aad0-6fb5eebd0a62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d53b58c49dc86b57592e908eaa305a1b7171f9f7e9ca1c93755a41f1190de85"
  },
  "id": "OvOBrtYsCY117L2R",
  "tags": []
}
